{% extends "index.html" %}
{% block content %}
<div class="card">
    <div class="details">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 250px; width: 245x;">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 250px; width: 245x;">
        <div class="pdetail">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
        </div>

        <a href="{% url 'register' %}">
            <button type="submit">Buy Now</button>
        </a>
    </div>
</div>

{% endblock %}

