{% extends "index.html" %}
{% block content %}
<div class="card">
    <div class="details">
        <div class="dimage" style="float: left; margin: 10px; box-sizing: border-box;">
            <div class="carousel-container">
                <div class="carousel-slide">
                    <img src="{{ product.image.url }}" alt="Image 1">
                    <img src="images/shirt1.jpg" alt="Image 2">
                    <img src="{{ product.image.url }}" alt="Image 3">
                    <img src="images/sneaker4.jpg" alt="">
                </div>
                <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                <button class="next" onclick="moveSlide(1)">&#10095;</button>
            </div>
            
            <!-- <img src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 250px; width: 245x;">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 250px; width: 245x;"> -->
        </div>

        <div class="dinfo" style="float: right; margin: 10px; box-sizing: border-box; width: 500px; height: fit-content;">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
        </div>

        <a href="{% url 'register' %}">
            <button type="submit">Buy Now</button>
        </a>
    </div>
</div>

{% endblock %}

