{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping site</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="topnav">
                <li class="jumbo">
                    <a href="/">ADcad</a>
        </div>
    </div>


        <div class="products">
            <div class="card">
                <a href="details/" style="text-decoration: none; color: black;">
                    <div class="containers">
                        <img src="images/watch2.png" width="250" height="250">
                        <h4>italian watch</h4>
                        <P>price:11060</P>
                        <P>units:4</P>
                    </div>
                </a>
            </div>
    
            <div class="card">
                <a href="details/" style="text-decoration: none; color: black;">
                    <div class="containers">
                        <img src="images/watch2.png" width="250" height="250">
                        <h4>italian watch</h4>
                        <P>price:11060</P>
                        <P>units:4</P>
                    </div>
                </a>
            </div>
    
            <div class="card">
                <a href="details/" style="text-decoration: none; color: black;">
                    <div class="containers">
                        <img src="images/watch2.png" width="250" height="250">
                        <h4>italian watch</h4>
                        <P>price:11060</P>
                        <P>units:4</P>
                    </div>
                </a>
            </div>
    
            <div class="card">
                <a href="details/" style="text-decoration: none; color: black;">
                    <div class="containers">
                        <img src="images/watch2.png" width="250" height="250">
                        <h4>italian watch</h4>
                        <P>price:11060</P>
                        <P>units:4</P>
                    </div>
                </a>
            </div>
        </div>

    </div>
</body>
</html>
