{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping site</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="lone">
        <ul>
            <li class="jumbo"><a href="/"><b>JUMIA</b></a></li>
            <li><a href=""><b>Electronics</b></a></li>
            <li><a href=""><b>Foods</b></a></li>
            <li><a href=""><b>Accesories</b></a></li>
            <li><a href=""><b>Clothes</b></a></li>
            <!--the form-->
            <form class="navbar">
            <input type="search" id="query" name="search" placeholder="Search">
                   <type="submit" i class="fa fa-serach"></type>
                   <button>Search</button>
        </form>

        </ul>
        </div>
    </div>

<div class="card">
<div class="containers">
    <img src="images/watch2.png" width="250" height="250">
    <h4>italian watch</h4>
    <P>price:11060</P>
    <P>units:4</P>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/watch1.png" width="250" height="250">
        <h4>italian watch</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/shirtd.png" width="250" height="250">
        <h4>T-shirt</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/shirtc.png" width="250" height="250">
        <h4>T-shirt</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/shirtb.png" width="250" height="250">
        <h4>T-shirt</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/shirta.png" width="250px" height="250px">
        <h4>T-shirt</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/poga.jpg" width="250px" height="250px">
        <h4>Poga</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/nike3.png" width="250px" height="250px">
        <h4>nike product</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/nike2.jpg" width="250px" height="250px">
        <h4>Nike products</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/nike1.jpg" width="250px" height="250px">
        <h4>Nike product</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/necklac.png" width="250px" height="250px">
        <h4>Necklace</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/Neckla.png" width="250px" height="250px">
        <h4>Necklace</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/neckl.jpg" width="250px" height="250px">
        <h4>laptop</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/lap4.png" width="250px" height="250px">
        <h4>Laptop</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/lap3.png" width="250px" height="250px">
        <h4>Laptop</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/lap2.png" width="250px" height="250px">
        <h4>Laptop</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/lap1.png" width="250px" height="250px">
        <h4>Laptop</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/IPHONE16.png" width="250px" height="250px">
        <h4>Iphone 16</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/IPHONE15.JPG" width="250px" height="250px">
        <h4>Iphone 15</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/IPHONE13.png" width="250px" height="250px">
        <h4>Iphone 13</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div></div>
</div>
<div class="card">
    <div class="containers">
        <img src="images/IPHONE12.png" width="250px" height="250px">
        <h4>Iphone 12</h4>
        <P>price:11060</P>
        <P>units:4</P>
    </div>
</div>
</body>
   </html>
