{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div class="details">
        <div class="payimage" style="float: left; margin: 10px;">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 60vh; width: 35vw; border-radius: 20px; box-sizing: border-box;">
        </div>
        <div class="paydetail" style="float: right; font-size: larger; width: 50%;">
            <h1>{{ product.name }}</h1>
            <p>Price: {{ product.price }}, vat = 0</p>
            <p>Delivery: Free</p>
            <p>Delivery Date: before seven days from now</p>
            <p style="font-size: x-large;">Total= {{product.price}}</p>
        </div>

        <a>
            <button type="submit">Buy Now</button>
        </a>
    </div>
</div>

{% endblock %}