{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div class="details">
        <div class="payimage">
            <img src="{{ Product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="paydetail">
            <h1>{{ product.name }}</h1>
            <p>Price: {{ product.price }}</p>
            <p>vat = 0</p>
            <p>Delivery = Free</p>
            <p>Total= </p>
        </div>

        <a href="{% url 'register' %}">
            <button type="submit">Pay Now</button>
        </a>
    </div>
</div>

{% endblock %}